*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    background-color: yellowgreen;

}
.nav-list{
    width: 50%;
    background-color:yellow;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-list li{
    text-decoration: none;
    color: white;
    padding: 23px;

}
.nav-list li a{
    

}